<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- start inside staic folder-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/js/bootstrap.min.css}" type="text/html" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>

<div class="container" >
    <div class="card m-4" style="margin: 0 auto">
        <!--<div class="card-header text-center">
            <h4>Leaning About OAuth 2.1 Login with Spring Security</h4>
        </div>-->
        <div class="card-body">
            <h4 class="card-title text-center">
                You are successfully logged in <span class="text-danger" th:text="${userName}"></span>
                <!--via the OAuth 2.0 Client <span class="text-danger" th:text="${clientName}"></span>-->
            </h4>
            <div class="container" style="margin: 0 auto; max-width: 820px;">
                <ul class="list-group mt-4">
                    <li class="list-group-item active" >Information We've got From Login (Profile Scope)</li>
                    <!-- basic loop-->
                    <li th:each="userAttribute : ${userAttributes}" class="list-group-item text-danger" >

                        <!-- If-->
                        <div th:if="${userAttribute.getKey().equals('pictureUrl')}">
                            <span th:text="${userAttribute.getKey()}"></span> : <img th:src="${userAttribute.value}" width="100px">
                        </div>
                        <!-- Else -->
                        <div th:unless="${userAttribute.getKey().equals('pictureUrl')}">
                            <span  th:text="${userAttribute.getKey()}"></span> : <span th:text="${userAttribute.getValue()}"></span>
                        </div>

                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>



</body>
</html>